

.searchInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 15px; 
    font-size: 16px; /* Adjust the font size as needed */
    border-radius: 5px; /* Rounded corners */
    min-height: 55px;
    border-width: 0;
    background-color: #F5F5F5;
}

.searchResultContainer {
    position: absolute;
    top: 55px; 
    left: 0;
    width: 100%; 
    max-height: 200px;
    background-color: white;
    z-index: 99999;
    border-radius: 6px;
    overflow-y: auto;
}

/* search result item */
.searchResultItem {
    margin: 4px;
    padding: 10px;
    align-items: center;
    display: flex; 
    border-radius: 6px;
}

/* search result item on hover */
.searchResultItem:hover {
    background-color: #FBCEB1;
}