.hero_content {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.hero_text_container {
    padding: 10;
    height: fit-content;
    max-width: 40vw;
    font-size: 42px;
    font-weight: 700;
}


/* Define a media query for screen widths below 768px */
@media (max-width: 768px) {
    
    .hero_content {
        flex-direction: column;
        padding-top: 30vh;
        padding-bottom: 2vh;
    }

    .hero_text_container {
        font-size: 20px;
        max-width: 80vw;
        text-align: center;
    }
}