

.phoneInput::placeholder {
    color: #F94D00; /* Replace 'red' with any color you want */
}

/* normal text input styling */
.searchInput {
    font-size: 16px; /* Adjust the font size as needed */
    border-radius: 5px; /* Rounded corners */
    /* height: 50px; */
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-width: 0;
    background-color: #FFB788;
    outline: none; /* Removes the default focus outline */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover and focus */
    caret-color: black;
    margin-top: 16px;
    color: white; 
}

/* normal text input styling */
.searchInput::placeholder {
    color: #F94D00;
    opacity: 1; 
}


/* search button style and focus */
.buttonStyle:hover, .buttonStyle:focus {
    background-color: #f7793f; /* Darker shade for interaction feedback */
}